body{
    background-color:white;
}
Header {
    display: flex;
    flex-direction: column;
    background-color: #39a900;
    width: 20%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
li{
    list-style: none; 
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 0;
}
ul a{
    color: #c1ff95;
    text-decoration: none;
    text-shadow: 2px 2px 4px #39a900;
}

header h1{ 
    color: #FFFF;
    text-align: center;
<<<<<<< HEAD
=======
}

header hr{
    width: 14rem;
    height: 7px;
    color: #FFFF;
    background-color: #FFFF;
    margin-top: -55px;

>>>>>>> 84b0959974b95811e6352bb489ae1ad9f7ad4a1e
}

header hr{
    width: 14rem;
    height: 7px;
    color: #FFFF;
    background-color: #FFFF;
    margin-top: -55px;

}