body{
    background-color:white;
}
Header{
    display: flex;
    flex-direction: column;
    background-color: #39a900;
    width: 30vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;

}
li{
    list-style: none; 
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 0;
}

header h1{ 
    
}


