body{
    background-color: rgb(255, 218, 246);
}
Header{
    display: flex;
    flex-direction: row;
    background-color: rgb(254, 193, 240);
    width: 100vw;
}
li{
    list-style: none; 
    margin: 40px;
    background-color:rgb(255, 218, 246);
    border-radius: 1rem;
    padding: 8px; 
}
ul{
    display: flex;
    flex-direction: row-reverse;
}
a{
    font-size: 2rem;
    color: black; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover{
}


