.social{
<<<<<<< HEAD
    color: #FFFF;
    font-size: 1.8rem;
    padding: 0.8rem;
    background-color: #c1ff95;
=======
    color: #AAB1B8;
    font-size: 1.8rem;
    padding: 0.8rem;
    background-color: #090B0D;
>>>>>>> 84b0959974b95811e6352bb489ae1ad9f7ad4a1e
}
.SocialFather{
    padding: 2rem;
}