h1{
    color: #5A5A5D;
    text-decoration: dashed;
    
    display: flex;
    align-items: center;
}
.profileImage{
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.description {
    width: 100%;
}
.profileImage img{
    background-color: #c1ff95;
    margin: 10px;
    width: 6rem;
    height: 6rem;
}
hr {
    background-color: #c1ff95;
    width: 100%;
    height: 15px;
    border: none;
}